.logo-container{
    z-index: 0;
    width: 366px;
    height: 417px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left:50em;
    margin: auto;

    // svg{
    //     width: 140% ;
    //     height: auto ;
    //     left:-20; 
    //     bottom: 0;
    //     transform: rotateZ(30deg) !important;
    // }
        .solid-logo{
            position:absolute;
            top:auto;
            right: auto;
            bottom:auto;
            left:140px;
            margin:auto;
            margin-left:-130px;
            width: 100%;
            
            z-index: 1;
        }
    
    // .svg-container{
    //     stroke: #fb7a02;
    //     stroke-width: 10px;
    // }
}