.lebenslauf-page {
  padding-left: 100px;
  padding-right: 50px;
  padding-bottom: 100px;
  width: calc(100% - 150px);
  position: initial;
  height: auto;
  padding-top: 20px;
  overflow: hidden;

  .container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px;
    padding-bottom: 520px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: rgba(#444, 0.3);
    border-radius: 14px;
  }

  .left-column,
  .right-column {
    flex: 1;
    padding: 20px;
  }

  .left-column {
    border-right: 1px solid #fb7a02;
  }

  h2 {
    color: #fb7a02;
    border-bottom: 2px solid #fb7a02;
    padding-bottom: 5px;
    font-size: 1.8rem;
  }

  .personal-info p,
  .skills ul,
  .languages p,
  .education-item p,
  .experience-item p,
  .further-education-item p {
    margin: 10px 0;
    font-size: 1.4rem;
  }

  .skills ul {
    list-style: none;
    padding: 0;
  }

  .skills li {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem; /* Adjusted font size */
  }

  .stars {
    color: #fb7a02;
  }

  .education-item,
  .experience-item,
  .further-education-item {
    margin-bottom: 20px;
  }

  .education-item p,
  .experience-item p,
  .further-education-item p {
    margin: 0;
    font-size: 1.4rem; /* Adjusted font size */
  }

  .page-title {
    margin-left: 40px;
    margin-top: 100px;
    font-size: 4rem; /* Adjusted font size */
    font-family: 'Coolvetica', sans-serif;
    font-weight: 400;
    color: #fb7a02;
    position: relative;

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore';
      color: #fb7a02;
      font-size: 1.6rem; /* Adjusted font size */
      position: absolute;
      top: -10px;
      left: 0px;
      opacity: 0.6;
    }

    &::after {
      content: '</h1>';
      font-family: 'La Belle Aurore';
      color: #fb7a02;
      font-size: 1.6rem; /* Adjusted font size */
      position: absolute;
      top: 50%;
      left: 100%;
      margin-left: -850px;
      transform: translateX(10px);
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }
  }

  a {
    color: #fb7a02;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
      padding-bottom: 200px;
    }

    .left-column {
      border-right: 1px solid #fb7a02;
    }

    .page-title {
      margin-left: 40px;
      margin-top: 100px;
      font-size: 4rem; /* Adjusted font size */
    }
  }

  @media (min-width: 768px) {
    .container {
      flex-direction: row;
      padding-bottom: 200px;
    }

    .left-column {
      border-right: 1px solid #fb7a02;
    }

    .page-title {
      margin-left: 40px;
      margin-top: 100px;
      font-size: 4rem; /* Adjusted font size */
    }
  }

  @media (max-width: 767px) {
    .container {
      margin-top: 50px;
      padding-bottom: 50px;
    }

    .left-column {
      border-right: none;
      border-bottom: 1px solid #fb7a02;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    .right-column {
      margin-top: 20px;
    }

    .page-title {
      margin-left: 10px;
      margin-top: 50px;
      font-size: 2.5rem; /* Adjusted font size */
    }

    .personal-info p,
    .skills ul,
    .languages p,
    .education-item p,
    .experience-item p,
    .further-education-item p {
      font-size: 1.2rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    .stars {
      font-size: 1.2rem;
    }
  }
}
